*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
    font-family: "Cabin", sans-serif;
    
}

nav{
    margin-right: 2.9rem;
}

header,
li{
    color:white;
}

a{
    text-decoration: none;
    color: white;
    padding-right: .5rem;
    font-size: .6rem;
}

h1{
    padding-bottom: 1rem;
}

button{
    border: transparent;
    border-radius: 15px;
}

ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer{
    background-color: rgb(117, 123, 133);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
}

nav>a{
    padding-right: .5rem;
    padding-left: .4rem;
}

p.sottotitolo{
    line-height: 1rem;
    font-size: .7rem;

}

.logo-principale{
    width: 8rem;
    height: 3rem;
}

.barra-logo-nav{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    align-items: center;
    background-color: #255ee9;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding:5.5rem 19rem 3rem;
    text-align: center;


}

.button-side{
    font-size: .9rem;
    padding: .4rem .6rem;
    align-self: flex-end;
}

.download-mac,
.apri-discord,
.botton-download{
    padding: .4rem .7rem;
    margin: 1rem .4rem;
    font-size: .6rem;
}


section.main{
    display: flex;
    align-items: center;

    background-color: rgb(212, 174, 248);
    border: 1px solid rgb(251, 85, 85);
}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.main-footer{
    display: flex;
    flex-direction: column;
}

div.loghi{
    display:flex
}

.immagine:not(.immagine-colonna){
    width: 100%;
}

.download-mac{
    background-color: white;
}
.apri-discord{
    background-color: #23272a;
    color: white;
}
